/*********** TABLE ***********/
table.main_table {
    width: 100%;
    margin: 0 auto;
}

.main_table tr {
    text-align: left;
    vertical-align: middle;
    color: #222222;
    font-size: 12px;
}

.main_table tr:hover {
    background-color: #f6f6f6;
    cursor: pointer;
    /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);*/
}

.main_table tr:active{
    box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.2);
}

.main_table tr th {
    min-width: 180px;
    max-width: 180px;
    padding: 2px 0;
    color: #444444;
    background-color: #E6E6E6;
}

.main_table tr.table_header:hover {
    text-shadow: none;
    cursor: default;
}

.main_table tr td {
    border-bottom: 1px solid #dddddd;
    padding: 3px 5px;
}

.main_table tr th h5 {
    margin: 2px;
    font-weight: 100;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}